
body{
    background: linear-gradient(to right, rgb(128, 62, 0), rgb(0, 0, 0));
}
nav ul{
    height: 60px;
    background: linear-gradient(to right, rgb(128, 62, 0), rgb(119, 92, 1));
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0;
    list-style-type: none;
    padding-right: 500px;
    gap: 20px;
}
li{
    border: 2px solid black;
    border-radius: 0px;
    transform: skewX(-15deg);
}
a:hover{
    background-color: rgb(7, 7, 7);
    color: white;
    margin: 0;
}
a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    justify-content: right;
    gap: 0px;
    font-size: large;
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}