
@font-face {
    font-family: "Lugrasimo";
    src: url("Lugrasimo/Lugrasimo-Regular.ttf") format("truetype");
}
nav ul{
    height: 60px;
    background: linear-gradient(to right, rgb(128, 62, 0), rgb(119, 92, 1));
    border-bottom: 2px solid rgb(3, 79, 194);
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0;
    list-style-type: none;
    padding-right: 500px;
    gap: 20px;
}
li{
    border: 2px solid black;
    border-radius: 0px;
    transform: skewX(-15deg);
}
a:hover{
    background-color: rgb(7, 7, 7);
    color: white;
    margin: 0;
}
a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    justify-content: right;
    gap: 0px;
    font-size: large;
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
li{
    text-decoration: none;
    list-style: none;
}
body{
    background: linear-gradient(to right, rgb(128, 62, 0), rgb(0, 0, 0));
}
h1{
    color: white;
    font-family: "Lugrasimo";
    text-align: center;
    border: 3px solid black;
    box-shadow: 5px 5px 5px black;
    padding-right: 40%;
}
p{
    color: white;
    font-family: "Lugrasimo";
    text-align: center;
}
h2{
    color: white;
    font-family: "Lugrasimo";
    text-align: center;
}
